.tab2_5050 > div {
    width: 50% !important;
}

.tab6_16 > div {
    width: 16.66% !important;
}

.tab2_7030,
.tab2_5050,
.tab2_2080,
.tab6_16 {
    display: table;
    max-width: 100%;
    width: 100%;
}

.tab2_7030 > div {
    vertical-align: middle
}

.tab2_7030 > div:first-child {
    display: table-cell;
    width: 70%;
}

.tab2_7030 > div:last-child {
    display: table-cell;
    width: 30%;
}


.tab2_2080 div:first-child {
    display: table-cell;
    width: 20%;
}


.tab2_7030 > div,
.tab2_5050 > div,
.tab2_2080 > div,
.tab6_16 > div {
    display: table-cell;
}

@media screen and (max-width: 600px) {
    .tab2_7030 div,
    .tab2_5050 > div,
    .tab2_2080 > div {
        width: 100% !important;
        display: block !important;
        margin: 0;
        padding: 0;
    }


    .tab6_16 > div {
        width: 50% !important;
        display: block !important;
        margin: 0;
        padding: 0;
        float: left;
    }
}


.tab2_7030 img,
.tab2_2080 img,
.tab6_16 img {
    max-width: 100% !important;
    height: auto;
}

input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.onoff1984 {
    position: relative;
    width: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoff1984-checkbox {
    display: none;
}

.onoff1984-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 20px;
}

.onoff1984-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoff1984-inner:before, .onoff1984-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 21px;
    padding: 0;
    line-height: 21px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoff1984-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
    box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.15);
    border-radius: 56px;
}

.onoff1984-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #ddd;
    color: #999999;
    text-align: right;
    box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.15);
    border-radius: 56px;
}

.onoff1984-switch {
    display: block;
    width: 28px;
    margin: -3.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 0px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    box-shadow: 0 3px 0 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 1)
}

.onoff1984-checkbox:checked + .onoff1984-label .onoff1984-inner {
    margin-left: 0px;
}

.onoff1984-checkbox:checked + .onoff1984-label .onoff1984-switch {
    right: 1px;
}