/* */
.addround {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 72px;
    height: 72px;
    display: block;
    font-size: 28px;
    text-align: center;
    line-height: 70px;
    background: #00baff;
    color: #fff;
    border-radius: 100px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer !important;
    z-index: 15
}

.addround:hover {
    background: #00baff;
    color: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.titleHeader {
    font-size: 20px;
}

.danger.modal .modal-header {
    background-color: #d2574b;
    border-bottom: 0;
}

.blockUsersGroup .blockUser {
    padding: 5px 20px;
    font-weight: normal;
    display: block;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
}

.blockUsersGroup .blockUser:first-child {
    border-top: 1px solid #e5e5e5;
}

.blockUsersGroup .blockUser:last-child {
    border-bottom: 0;
}

.blockUsersGroup .blockUser input {
    display: none;
}

.blockUsersGroup .blockUser:hover,
.blockUser.active {
    background-color: #00baff;
    color: white;
}

.descriptionUser .col-md-2 {
    padding: 5px;
}

.dropdown-menu {
    min-width: 263px;
}

.navbar-right .dropdown-menu {
    left: -210px;
}

.dropdown.profile_menu .dropdown-menu:before {
    right: 30px;
}

/* Fixed table header */

.fht-tbody {
    overflow-x: hidden !important;
}

/* Upload */

.uploadBlock .actions .color1 {
    background: transparent;
    cursor: pointer;
}

.uploadBlock .actions .color1 > i {
    font-size: 30px;
}

.uploadBlock .uploadDragBtn {
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
    text-align: center;
}

.uploadBlock .uploadDragBtn .dragMsg {
    font-size: 30px;
    color: #a3a3a3;
}

.uploadBlock .uploadDragBtn .dragMsg i {
    display: block;
    font-size: 80px;
}

.uploadBlock .uploadDragBtn .smallMsg {
    font-size: 12px;
    color: #a3a3a3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.uploadBlock .uploadDragBtn .btnFile {
    background: #42a1ff;
    color: white;
    border-radius: 40px;
    max-width: 250px;
    padding: 5px;
    margin: auto;
}

.uploadBlock .uploadDragBtn #upload {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.uploaderwrap .uploadDragBtn {
    display: block;
}

.uploaderwrap.ready .uploadDragBtn {
    display: none;
}

.uploaderwrap.ready {
    padding-bottom: 50px;
}

.actions.inputs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: none;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}

.actions.inputs .clearfix > div {
    min-height: 40px;
}

.uploaderwrap.ready .actions.inputs {
    display: block;
}

.actions.inputs .rotate i {
    vertical-align: middle;
}

.actions.inputs .rotate {
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.actions.inputs .upload-cancel {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    color: #797979;
    min-height: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;

}

.actions.inputs .upload-result {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00ac00;
    color: #FFF;
    min-height: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
}

.actions.inputs.loaderBlock:before {
    background: white url("../images/preload-bg-gris.gif") no-repeat scroll center center;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

/* Modal */

.modal .modal-header {
    background-color: #42a1ff;
    color: white;
    border-bottom: 2px solid #1e71b8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal .modal-header .close {
    color: white;
    opacity: 1;
}

/* Step block */

.stepBlock {
    display: none;
    animation-name: fadeOut;
    animation-duration: 1s;
}

.stepBlock.active {
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}

/* Nav Right*/

.navRight {
    width: 400px;
    position: absolute;
    top: 0;
    right: -420px;
    height: 100%;
    background: white;
    transition: right 0.5s;
    -moz-box-shadow: -10px 0 20px 0 #cfcfcf;
    -webkit-box-shadow: -10px 0 20px 0 #cfcfcf;
    -o-box-shadow: -10px 0 20px 0 #cfcfcf;
    box-shadow: -10px 0 20px 0 #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=20);
    padding: 15px;
    box-sizing: border-box;
    z-index: 11;
}

.navRight.open {
    right: 0;
}

.openNav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 12;
    color: black;
    cursor: pointer;
}

.openNav.toggle {
    color: #009ffa;
}

/* AdminLive */

.windowsWrapper {
    background: #c8c8c8;
    border-radius: 10px;
}

.windowsWrapper .windowsTabs {
    padding-top: 10px;
}

.windowsWrapper .windowsTabs .tab {
    background: #e6e6e6;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.windowsWrapper .windowsTabs .tools {
    float: right;
    margin-right: 10px;
}

.windowsWrapper .windowsTabs .tools .redBtn,
.windowsWrapper .windowsTabs .tools .orangeBtn,
.windowsWrapper .windowsTabs .tools .greenBtn {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.windowsWrapper .windowsTabs .tools .redBtn {
    background: red;
}

.windowsWrapper .windowsTabs .tools .orangeBtn {
    background: orange;
}

.windowsWrapper .windowsTabs .tools .greenBtn {
    background: green;
}

.windowsWrapper .windowsSearchBlock {
    background: #e6e6e6;
    padding: 10px;
}

.windowsWrapper .windowsSearchBlock .searchBar {
    background: white;
    padding: 5px;
}

.windowsWrapper .wrapperSite {
    position: relative;
}

.windowsWrapper .wrapperSite .loaderIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.windowsWrapper .wrapperSite #myframe {
    margin-bottom: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: height ease 1s;
}

#saveSite {
    padding: 15px;
}

#saveSite label {
    color: white;
}

#saveSite #logoInputFile,
#saveSite #homeInputFile {
    height: 100%;
}

#saveSite #annulBtn {
    display: inline-block;
    color: white;
    padding: 8px;
    background-color: lightgrey !important;
    height: auto;
}

.listIcon .material-icons {
    font-size: 60px;
}

#saveSite.iconSave {
    position: absolute;
    top: 240px;
    right: 80px;
}

#saveSite.iconSave a.triggerSubSave {
    color: white;
    vertical-align: middle;
    background: #00baff;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}

#saveSite.iconSave a.triggerSubSave i {
    vertical-align: middle;
}

#saveSite.iconSave #subSave {
    display: none;
}

#changeIcon .listIcon {
    text-align: center;
}

/* !AdminLive */

.fuelux .wizard ul {
    width: 100% !important;
    max-width: 4000px;
}

.wizard-row .fuelux {
    position: initial !important;
}

.budgetTable {
    position: relative;
}

.blockBudgetTable {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
    text-shadow: black 2px 2px;
}

/*jeremy*/
.group-img-slide {
    background: white none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0.5em;
    max-width: 30%;
    padding: 0.3em;
    margin-left: 0.5em;
    float: left;
}

/* Pas de font, mais une corbeille de couleur rouge.
  Un hover avec un carrÃ©, aux bordur radius 4px avec une couleur de #843e3e.
 */
.del-img, .del-img:focus, .del-img:active {
    color: red;
    cursor: pointer;
    margin-left: 5px;
    background-color: red;
    border-color: transparent;
    border-radius: 4px;

}

.del-img i {
    color: white;
}

.del-img:hover {
    background-color: #843e3e;
    border-color: transparent;
}


/*Bouton de modification de l'image, comme celui de suppression mais avec la couleur de l'entreprise.*/
.mod-img, .mod-img:focus, .mod-img:active {
    color: white;
    cursor: pointer;
    background-color: #1e3386;
    border-color: transparent;
    border-radius: 4px;

}

.mod-img i {
    color: white;
}

.mod-img:hover {
    background-color: #747ba5;
    border-color: transparent;
}

/*Bouton de modification du modal*/
.mod-text {
    background-color: #1e3386;
    border-color: transparent;
    color: white;
    font-weight: bold;
}

.mod-text:hover {
    background-color: #747ba5;
}

#exampleModalLabel {
    /*Titre des modals*/
    font-weight: bold;
}

.files-slide .img-preview {
    background-size: cover;
    height: 200px;
    width: 300px;
    padding: 0.5em;
    display: inline-block;
    float: left;
}

/*Ajout liÃ© au drag and drop, pour qu'il soit plus propre mais toujours liÃ© Ã  Jquery Sortable.
  Ajout d'un float : left; aux Ã©lÃ©ments pour un dÃ©placement plus fluide et un dÃ©placement des autres vignettes plus propre.
 */
#files > div {
    float: left;
}


.sortable-placeholder {
    width: 300px;
    height: 200px;
    padding: 0.5em;
}

/*fin*/

.adduser {
    background: #272930;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.adduser a {
    color: #fff !important;
}

.rowClient .price {
    padding-left: 40px;
}

.openChange-date {
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    min-height: 20px;
}

.deadLinePassed span, .deadLinePassed select, .deadLinePassed input, .deadLinePasseddiv, .deadLinePassed .nameclient, .deadLinePassed .timingcompteur {
    color: #fff !important
}

.deadLinePassed .timingcompteur.strong, .deadline-0 .histoTiming.list-hidden {
    color: #000 !important
}

.deadLinePassed {
    background: red !important
}

.deadLinePassed {
    animation: blink 1s infinite;
    -webkit-animation: blink 0.15s infinite;
}

.deadLinePassed:hover {
    animation: none;
    background: #333 !important
}

@keyframes blink {
    0% {
        opacity: 0.2
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0.2
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0.7
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0.7
    }
}

.changeStatutPerso {
    z-index: 12
}

.mce-grid-cell, .mce-grid.mce-grid-border td {
    padding: 0 !important;
}

.apphead select {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/arrow-select.jpg');
    background-repeat: no-repeat;
    background-position: right 17px;
    display: inline;
    height: 40px !important;
    line-height: 100% !important;
    margin: 0 !important;
    padding: 0 20px 0 0 !important;
    border: 0;
    font-size: 30px;
    transition: all ease 0.2s
}

.apphead select:hover, .apphead select:focus, .apphead select:active {
    background-repeat: no-repeat;
    background-position: right 16px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1)
}

.apphead select option {
    background-color: #fff;
    font-size: 14px;
}

.apphead {
    margin-top: 0 !important;
}

#findbar {
    background: #272930;
    padding: 10px 10px 2px 10px;
}

#findbar input, #findbar button {
    padding: 4px;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 1px;
    height: 24px;
}

#findbar button {
    padding: 4px 9px;
    width: 100px;
    text-transform: uppercase;
    background: #ddd;
    font-size: 12px;
    font-weight: bold;
    font-family: arial, sans-serif;
}

#findbar button span {
    padding: 4px 9px;
    width: 100px;
    text-transform: uppercase;
    background: #ddd;
    font-size: 12px;
    font-weight: bold;
    font-family: arial, sans-serif;
}

#findbar #findResultsCount {
    padding: 1px 10px;
    border-radius: 16px;
    border: 2px solid #00baff;
    color: black;
    height: 24px;
    background: none;
    color: #fff;
}

#findbar #findHighlightAll {
    display: none;
}

#findbar #findHighlightAll + label {
    background: #ddd;
    padding: 2px 20px;
    margin-right: 2px;;
    margin-left: -2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;;
    font-family: arial, sans-serif;
    height: 24px;
}

#findbar .notFound {
    color: #fff !important
}

.iconpdf {
    color: #b10708
}

.icondoc {
    color: #285396
}

.iconxls {
    color: #008641
}

.iconpic {
    color: #00baff
}

.block-flat h3, .block-flat .row {
    margin-top: 0;
}

/***********************/
/***********************/

.displayblock {
    display: block;
}

.annonce .en-tete a {
    font-weight: 600;
    font-size: 13px !important;
    position: relative;
    top: -2px;
}

.url span {
    padding: 0 4px !important;
}

.popover {
    color: #777 !important;
}

.popover-content {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.affichage-ads {
    margin-top: 10px;
}

#ads-div .progress.progress-striped {
    height: 22px !important;
}

#budgetbar {
    top: 2px !important;
}

.indicateur.green {
    background: #90c545 url(../images/valid.png) no-repeat center center /cover !important;
    height: 20px !important;
    width: 20px !important;
    text-align: center;
    border-radius: 24px;
    line-height: 20px;
    font-size: 0 !important;
    position: relative;
    top: 0;
    left: 0;
    color: #fff !important;
    font-weight: bold;
    cursor: default;
}

.indicateur.red {
    background: #ee433c url(../images/pause.png) no-repeat center center /cover !important;
    height: 20px !important;
    width: 20px !important;
    text-align: center;
    border-radius: 24px;
    line-height: 20px;
    font-size: 0 !important;
    position: relative;
    top: 0;
    left: 0;
    color: #fff !important;
    font-weight: normal;
    cursor: default;
}

.info_budget_use {
    padding: 0;
    margin: 0;
}

.questionpopup {
    background: #167ac6 url(../images/question.png) no-repeat center center /cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 24px;
    line-height: 20px;
    font-size: 14px;
    position: relative;
    top: 1px;
    left: 0;
    color: #fff !important;
    font-weight: bold;
    cursor: default;
}

#tri input[type="radio"] {
    display: none;
}

#tri input[type="radio"] + label span.input-check {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 19px;
    margin: 0 4px 4px 0;
    vertical-align: middle;
    width: 19px;
    z-index: 10;
}

#tri input[type="radio"]:checked + label span.input-check {
    background: #00baff;
    border: 1px solid lightgrey;
    box-shadow: 0 0 0 4px white inset;
}

.analyses-adwords .clearfix > div:nth-of-type(odd) {
    border-bottom: 1px solid #eee;
}

.analyses-adwords .clearfix > div:nth-of-type(even) {
    border-bottom: 1px solid #eee;
}

.analyses-adwords .totalRow > div {
    background: #fff !important;
}

.analyses-adwords > div {
    padding: 10px 0 0 0;
}

.bold600 {
    font-weight: 600;
}

#budgetbar {
    display: inline-block;
    position: relative;
    top: 0;
    min-width: 250px;
}

.form-control.search-bar {
    border: 0 !important;
    box-shadow: 0 0 0 !important;
    font-size: 24px;
    height: auto;
    position: relative;
    margin-top: -4px;
    padding: 0 10px 0 32px;
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 6px center;
    border-radius: 36px;
}

.nav.nav-tabs li a {
    font-weight: 600;
    color: #272930;
}

.nav-tabs > li:hover {
    background: #fff !important;
}

.cl-vnavigation img {
    width: 15px;
    margin-left: 5px;
    margin-right: 8px;
}

.label-ads {
    background: #fff;
    color: #4c8bf5 !important;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.label-ads img {
    width: 10px !important;
    height: auto;
}

.label-fb {
    background: #4267b2;
    color: #fff !important;
    border-radius: 2px;
}

.label-gg {
    background: #dc4a38;
    color: #fff !important;
    border-radius: 2px;
}

.label-gmb {
    background: #fff;
    color: #4c8bf5 !important;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.label {
    border-radius: 2px;
}

#table-agence a.link {
    color: #272930;
    font-weight: 600 !important;
}

#table-agence span {
    color: #272930;
    font-weight: 100;
}

.bkg-black {
    background: #272930;
    color: #fff;
}

.legende_module p {
    color: #bcbaba;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
}

.legende_module {
    margin-top: 10px;
}

.nb_adwords span, .nb_Naturel span {
    float: right;
}

.label-block {
    display: block;
}

.visitors .counters h1:first-child {
    background: #00baff;
}

.displaynone {
    display: none;
}

.btn-primary, .btn-primary:focus {
    background-color: #00baff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #00baff;
    border-color: transparent;
}

.onoff1984-inner:before {
    background-color: #00baff;
}

.entreprise ul.sortable {
    padding: 10px 0;
}

.entreprise li {
    border-radius: 30px;
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 3px;
    width: auto;
    overflow: hidden;
    padding: 5px;
    position: relative;
    vertical-align: top;
    font-size: 12px;
    cursor: move;
    padding: 5px 15px;
    background: #00baff;
    color: #fff;
    text-transform: uppercase;
}

.entreprise li i {
    color: #fff;
    margin-left: 5px;
}

.row-horaire,
#description-ximi,
#input-service,
#actu .description {
    display: none;
}

.row-img-filtre img {
    border-radius: 300px;
}

#filtrecolor label {
    float: left;
}

#filtrecolor label:first-child {
    position: relative;
    top: -16px;
}

#filtrecolor label span {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background: #ddd;
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    position: relative;
}

#filtrecolor input {
    position: relative;
    right: 87px;
    width: 22px;
    height: 24px;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    border: 0 solid transparent;
    padding: 0;
    margin: 0 5px 0 0;
    outline: none;
    display: inline-block;
}

#filtrecolor > label:first-child {
    float: left;
    position: relative;
    top: -5px;
    margin-right: 10px;
}

#filtrecolor {
    width: 100%;
    margin: 30px 0 0 0;
}

.row-img-filtre {
    position: relative;
}

.sidebar-logo {
    margin-bottom: 20px;
    border-bottom: 2px solid #00baff;
}

#connexion {
    border-top: 2px solid #00baff;
}

#table-chiffre-tot td {
    width: 80px;
    padding: 7px !important;
}

#table-chiffre-tot td:first-child {
    width: 140px;
}

.row-total {
    background: #272930 !important;
    color: white !important;
}

.row-horaire {
    background: #eee none repeat scroll 0 0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.horaire-block {
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 10px;
}

.horaire-block:nth-child(2n) {
    background: #fff none repeat scroll 0 0;
}

.coupure {
    display: none;
}

.coupure.displayblock {
    display: block;
}

.link-infos a i {
    display: block;
    font-size: 45px;
    margin-bottom: 10px;
}

.link-infos a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

table.signature,
table.signature thead,
table.signature tbody,
table.signature tr,
table.signature th,
table.signature td {
    border: 0;
}

table.signature tr:nth-child(2n) {
    background: white;
}

textarea.signature-text {
    height: 150px;
    max-width: 400px;
    width: 100%;
}

#datePublication {
    display: none;
}

.new-offer {
    background: #ddf0de;
}

.color-filter {
    height: 220px;
    position: absolute;
    top: 36px;
    width: 220px;
    z-index: 10;
    display: none;
    border-radius: 5px;
}

#tags_tagsinput {
    height: auto !important;
}

#tags_tag {
    width: auto !important;
}

.desaturate {
    background: inherit;
    /*grayscale for background image*/
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.check-group {
    margin-bottom: -10px;
}

.ref-actif {
    background: #A5E2FA !important;
}

.submit-icon {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.select-content {
    border: 0;
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 300;
    height: 30px;
    line-height: 24px;
    margin-left: 10px;
    margin-top: -5px;
    overflow: visible;
    padding: 0;
    width: auto;
    padding: 0 !important;
    padding-right: 20px !important;
}

.float-left {
    float: left;
}

.select-content.form-control:focus {
    background-color: white;
    border-color: none;
    box-shadow: none;
}

.select-content.dark.form-control:focus {
    background-color: #383a41;
}

.select-content > option {
    font-size: 12px;
    height: auto;
    line-height: normal;
}

.select-content.dark {
    background: #383a41;
    color: #fff;
}

.arrow-select {
    display: inline-block;
    position: relative;
}

.arrow-select:after {
    content: "â–¾";
    position: absolute;
    right: 0;
    top: 12px;
    pointer-events: none;
}

.arrow-select.dark:after {
    color: white;
}

.arrow-select-border {
    display: block;
    position: relative;
}

.arrow-select-border:after {
    content: "â–¾";
    position: absolute;
    right: 10px;
    top: 6px;
    pointer-events: none;
}

.arrow-select-border select {
    padding-right: 20px;
}

.small-explain {
    font-size: 10px;
    line-height: 12px;
    color: #bcbaba;
}

.row.margin-less {
    margin-top: 5px;
}

.row.no-margin-top {
    margin-top: 0;
}

.block-profil {
    display: inline-block;
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    vertical-align: middle;
    color: white;
}

.nav.navbar-nav.user-nav {
    margin-right: 0;
}

.dropdown-toggle > span {
    vertical-align: middle;
}

.profile_menu img {
    display: block;
}

.dark-box table tr:nth-child(2n) {
    background: transparent;
}

.dark-box table tr th,
.dark-box table tr td {
    border-color: #333333;
}

#table_demande .naturel {
    color: #1dd2af;
}

.cl-vnavigation li:first-child a {
    border-top: 0;
}

.horaire-block select {
    max-width: 60px;
    display: inline;
}

#parrainageCheck {
    max-width: 100px;
}

.content-area {
    min-height: 300px;
}

.form-img {
    max-height: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#connexion input[type="checkbox"] {
    display: none;
}

#connexion input[type="checkbox"] + label span.input-check {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 19px;
    margin: 0 4px 4px 0;
    vertical-align: middle;
    width: 19px;
    z-index: 10;
}

#connexion input[type="checkbox"]:checked + label span.input-check {
    background: #00baff;
    border: 1px solid lightgrey;
    box-shadow: 0 0 0 4px white inset;
}

.mail-inbox .mails .item > div, .main-app .items .item > div {
    width: auto !important;
    display: block;
}

.mails > a {
    color: inherit;
}

#conversation-box .messages {
    height: 80%;
    padding: 20px;
}

#conversation-box .messages .conversation {
    list-style: none;
    padding: 5px 0 0;
}

#conversation-box .messages .conversation li p {
    background: #00baff;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}

#conversation-box .messages .conversation .odd p {
    background: #272930;
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
}

#conversation-box .messages .conversation li p:after {
    border-color: rgba(0, 0, 0, 0) #00baff;
    border-style: solid;
    border-width: 9px 10px 9px 0;
    content: "";
    display: block;
    left: -7px;
    position: absolute;
    top: 7px;
    width: 0;
    z-index: 1;
}

#conversation-box .messages .conversation .odd p:after {
    border-color: rgba(0, 0, 0, 0) #272930;
}

#conversation-box .messages .conversation li.text-right p:after {
    border-color: rgba(0, 0, 0, 0) #00baff;
    border-width: 9px 0 9px 10px;
    left: auto;
    right: -7px !important;
}

#message-affichage {
    display: none;
}

/* ### Axirenov ### */

#admin-gal > div > div {
    background-size: cover;
    border: 15px solid #ececec;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-right: -0.25em;
    height: 200px;
    transition: all 0.2s ease 0s;
    width: 25%;
}

#sliders-pages .del-img {
    color: #ab1616;
    display: block;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 5px;
}

.fileinput-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px !important;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#sliders-pages .row {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

#sliders-pages .header {
    margin-bottom: 20px;
}

#color-switcher {
    background: #272930;
    padding: 30px;
}

#color-switcher p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    margin-bottom: 3px;
}

.change-logo {
    color: white;
    padding: 5px;
}

.change-profil {
    color: #00baff !important;
    padding: 19px 5px;
}

#submit-config-reseau {
    background: #00baff !important;
}

#annul-config-reseau {
    background: #9b9898 !important;
}

#color-switcher label {
    color: white;
}

.change-logo,
.change-profil {
    width: auto;
    height: auto;
    box-shadow: none;
    border: 0;
}

.change-profil span {
    font-size: 24px;
}

.change-logo:hover,
.change-logo:focus {
    color: white;
}

.change-logo span {
    font-size: 24px;
}

.screen_div {
    position: relative;
}

.screen_div .morris-hover {
    z-index: 1;
}

.hover-informations {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* MENU */

ol#sortable-menu li {
    cursor: move;
}

ol#sortable-menu li.highlight {
    background: white;
    border: 1px dashed lightgrey;
    height: 20px;
    display: inline-block;
    margin-bottom: 10px;
    width: 200px;
    padding: 15px;
}

ol#sortable-menu li {
    list-style: none;
}

ol#sortable-menu li .menuDiv {
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 15px 75px 15px 15px;
    position: relative;
    width: auto;
}

ol#sortable-menu li a.delete-menu {
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 15px;
}

ol#sortable-menu li a.edit-menu {
    position: absolute;
    right: 40px;
    text-decoration: none;
    top: 15px;
}

ol#sortable-menu li span {
    font-size: 20px;
}

.form-menu {
    background: white none repeat scroll 0 0;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.form-menu .modify-menu, .form-menu select {
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    min-width: auto;
    width: 100%;
}

.form-menu .btn {
    margin-top: 10px;
}

.logo {
    display: inline-block;
    height: 100%;
    padding: 7px 5px;
}

.logo img {
    max-height: 20px;
}

#table_demande a {
    color: white !important;
}

.colorpicker-color {
    display: none;
}

.cl-vnavigation li a.no-hover {
    cursor: default;
}

.cl-vnavigation li a.no-hover:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
}

.img-free .preview-lg {
    height: auto;
}

.mce-path {
    display: none !important;
}

.desactivated {
    opacity: 0.5;
}

.desactivated:hover {
    opacity: 1;
}

.visitors .counters h1 {
    border-radius: 5px;
    color: #43454b;
    background: white;
    margin-bottom: 10px;
    font-size: 22px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
}


.visitors .counters h1 .small {
    color: #43454b;
}

.visitors .counters h1:first-child,
.visitors .counters h1:first-child .small {
    color: white;
}

h1 .small {
    font-size: 12px;
}

.red-line {
    background: #f76363 !important;
}

.underline {
    text-decoration: underline !important;
}

.header-second {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid lightgrey;
    margin-bottom: 15px;
}

.open-nav-tab {
    background: white none repeat scroll 0 0;
    cursor: pointer;
    display: none;
    padding: 5px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.red {
    color: red;
}

.green {
    color: green;
}

.link {
    z-index: 1;
}

.annee {
    font-size: 10px;
    z-index: 0;
}

.desactivate-row {
    opacity: 0.5;
}

.search-table.form-control.pull-right {
    display: inline-block;
    max-width: 300px;
}

.img-notif {
    max-width: 30px;
}

.content-notif {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: calc(100% - 20px);
}

.non-lu {
    font-weight: bold !important;
    background: #f7f7f7 !important;
}

.form-cat-actu {
    display: inline;
}

.input_cat_actu {
    display: inline-block;
    width: 70%;
}

.addcatactu {
    background: white none repeat scroll 0 0;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    display: none;
}

#delete-image {
    margin-left: 0;
    margin-top: 20px;
}

.notif-right {
    box-sizing: border-box;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 340px);
}

div.tagsinput span.tag {
    background: #272930;
    color: white;
    border: 0 none;
}

div.tagsinput span.tag a {
    color: white;
}

.group-filename {
    display: block;
    position: relative;
    min-height: 40px
}

.form_filtre {
    position: relative;
}

.submit-filtre {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.block-stat {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    border-right: 1px solid lightgrey;
}

.block-stat:nth-child(6n) {
    border-right: 0 none;
}

.block-stat > div:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.loader {
    background: white url("../images/preload-bg-gris.gif") no-repeat scroll center center;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.footer-block {
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.statistiques .footer-block {
    margin-left: -45px;
}

.footer-block .btn {
    display: block;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
}

.btn-icon {
    background: #00baff;
    border-radius: 20px;
    color: white;
    display: block;
    height: 36px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    width: 36px;
}

.btn-icon:hover {
    color: white;
}

.bkg-default-color1 {
    background-color: #00baff;
    color: white;
}

.bkg-default-color1 .flot-tick-label {
    color: white;
}

.bkg-default-color1 .arrow-select select {
    background-color: #00baff;
    color: white;
}

.info_general {
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 14px;
    margin: 20px auto;
    padding: 10px;
    background: #00baff;
}

.info_agence {
    display: inline-block;
    font-size: 16px;
    padding: 18px;
}

.text-bold {
    font-weight: bold;
}

.animateur-name {
    font-size: 14px;
}

.entreprise-gest {
    position: relative;
}

#non-attrib-block {
    position: fixed;
    right: 20px;
    max-width: 25%;
    width: 100%;
}

.small-form input[type="text"] {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.small-form label {
    display: block;
}

input.no-border, select.no-border {
    border: 0;
    background: transparent;
}

input.no-border:hover, select.no-border:hover {
    background: lightgrey none repeat scroll 0 0;
}

.change_nb_contrat {
    width: 100px;
}

.message-screen {
    display: none;
}

.small-img img {
    border-radius: 24px;
    height: 48px;
    width: 48px;
    display: block;
    margin: auto;
}

.small-img {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
}

.fd-tile.detail .content-full {
    background: transparent none repeat scroll 0 0;
    padding: 10px 20px;
    position: relative;
    z-index: 3;
    color: white;
    background-color: #00baff;
}

.fd-tile.detail .content-full a {
    color: white;
}

#table-agence thead th:first-child {
    text-align: center;
}

.modal-header {
    z-index: 10;
}

.fd-tile.detail .content-full a > div {
    font-size: 20px;
    padding: 20px 0;
    vertical-align: middle;
}

.fd-tile.detail .content-full a > div span {
    padding-top: 2px;
}

.link-left {
    display: inline-block;
    margin-right: -0.25em;
    width: 30%;
    vertical-align: top;
}

.link-left .description {
    margin-top: 15px;
    margin-bottom: 15px;
}

.link-left .btn.btn-primary {
    margin: 0;
}

.graph-right {
    display: inline-block;
    margin-right: -0.25em;
    width: 70%;
    vertical-align: top;
}

.bkg-grey {
    background-color: rgba(0, 0, 0, 0.05);
}

#table-indicateur .small-img {
    display: inline-block;
    vertical-align: middle;
}

.green-row {
    background: #a3ffa1 !important;
}

.filtre select {
    display: inline-block;
    width: auto;
}

.informations-block {
    padding-bottom: 20px;
    padding-top: 10px;
    clear: both
}

.informations-block > div {
    display: inline-block;
    font-size: 25px;
    margin-right: -0.25em;
    text-align: center;
    width: 50%;
}

.informations-block .nb-agences {
    color: #de0643;
}

.informations-block .nb-agences .number {
    background: #de0643;
    color: white;
    margin-left: 20px;
}

.informations-block .nb-ouvertures {
    color: #009ddf;
}

.informations-block .nb-ouvertures .number {
    background: #009ddf;
    color: white;
}

.informations-block .number {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 20px;
}

.select-client, .select-sujet {
    background: #ccc none repeat scroll 0 0;
    color: black;
    display: block;
    padding: 5px;
}

.select-client:hover, .select-sujet:hover {
    color: black;
    text-decoration: underline;
}

#search-par, #search-pour {
    max-width: 150px;
    display: inline-block;
}

.totaux-activite {
    padding-right: 5% !important;
}

.row-graph {
    background-color: transparent !important;
}

.icon-ads {
    max-width: 45px;
    margin-right: 20px;
}

.annonce {
    margin-bottom: 20px;
}

.annonce .en-tete {
    color: #1a0dab;
}

.annonce .content {
    color: #545454;
}

.annonce .en-tete a {
    color: #1a0dab;
    font-size: 16px;
}

.annonce .url a {
    color: #016839;
}

.annonce .content {
    padding: 0;
    color: #545454;
}

.annonce .url .icon-annonce {
    color: #016839;
    border: 1px solid #016839;
    padding: 2px 4px;
    margin-right: 10px;
    border-radius: 2px;
}

.groupAd > .a-button {
    color: #4e4e4e;
    padding: 10px;
    border-radius: 20px;
    display: block;
}

.groupAd.active > .a-button {
    background: rgba(0, 0, 0, 0.05);
}

.groupAd.active a {
    color: #272930 !important;
    font-weight: 600
}

.groupAd a {
    color: #888 !important;
    font-weight: 600
}

#ads-div h3 {
    color: #949599;
}


#ads-div .info_budget_use {
    color: #149f5b;
}

.info_budget_use .progress-bar.progress-bar-success,
#budgetbar .progress-bar.progress-bar-success {
    background-color: #149f5b !important;
}

#ads-div .header-ads {
    margin-bottom: 20px;
}

#ads-div .header-ads {
    margin-bottom: 40px;
}

#ads-div .icon-adwords {
    bottom: -10px;
    display: block;
    position: relative;
}

.progress.progress-striped.green {
    border: 2px solid #149f5b;
    border-radius: 20px;
    height: 25px
}

.progress.progress-striped.red {
    border: 2px solid #ee433c;
    border-radius: 20px;
    height: 25px
}

.progress .progress-bar {
    line-height: 17px;
}

#ads-div .keyword-block {
    border-left: 1px solid #e2e4e3;
}

#ads-div .groupAd {
    margin-bottom: 10px;
}

#ads-div .field {
    display: inline-block;
    margin-right: -0.25em;
    width: 50%;
}

#ads-div .value {
    display: inline-block;
    margin-right: -0.25em;
    text-align: right;
    width: 50%;
    color: #000000;
}

.a-button > a {
    margin-left: 10px;
}

#ads-div .keyword-block .field {
    width: 80%;
}

#ads-div .keyword-block .value {
    width: 20%;
}

.keyword-block .listing-keyword > div:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}

.keyword-block .en-tete {
    font-weight: bold;
    margin-bottom: 10px;
    background: transparent !important;
}


.listing-keyword {
    max-height: 210px;
    overflow: hidden;
}

.show-keyword {
    color: #4c8af4;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

#filtre-adwords .select-content {
    margin-left: 0;
}


/* Skin checkbox */
.checkbox-on-off {
    position: relative;
    display: inline-block;
    width: 44px;
    padding-right: 2px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 14px;
    height: 19px;
    margin-top: -1px;
}

/* this positions the check box label over the text box */
.checkbox-on-off input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

/* makes the background blue */
.checkbox-on-off input[type=checkbox]:checked + label {
    background-color: #167ac6;
}

/* this is the grey background check mark */
.checkbox-on-off label {
    display: inline-block;
    border: 1px solid transparent;
    height: 19px;
    width: 100%;
    background: #b8b8b8;
    cursor: pointer;
    border-radius: 20px;
    margin: 0;
}

/* this adds the check mark */
.checkbox-on-off input[type=checkbox]:checked + label .checked {
    display: inline-block;
    margin-top: 5px;
    margin-left: 8px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflAhaHWR.webp) -421px -77px;
    background-size: auto;
    width: 10px;
    height: 9px;
}

/* if you click the checkbox, it sometimes has a grey square */
.checkbox-on-off label .checked {
    display: none;
}

.checkbox-on-off input[type=checkbox]:checked + label .unchecked {
    display: none;
}

.checkbox-on-off label .unchecked {
    display: inline-block;
    float: right;
    padding-right: 3px;
}

/* this positions the white dot */
.checkbox-on-off input[type=checkbox]:checked + label .toggle {
    float: right;
}

/* this is the actual white dot */
.checkbox-on-off label .toggle {
    float: left;
    background: #fbfbfb;
    height: 17px;
    width: 17px;
    border-radius: 20px;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}

.checkbox-on-off .checked:before {
    background: rgba(0, 0, 0, 0) url("//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl-Nn88d.png") no-repeat scroll -86px -193px;
    content: "";
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 10px;
}

.indicateur.green {
    background: #90c545 none repeat scroll 0 0;
    border-radius: 20px;
    height: 15px;
    width: 15px;
}

.indicateur.red {
    background: #ee433c none repeat scroll 0 0;
    border-radius: 20px;
    height: 15px;
    width: 15px;
}

.tarif-green {
    background: rgba(0, 255, 0, 0.2) !important;
}

.tarif-red {
    background: rgba(255, 0, 0, 0.1) !important;
}

.tarif-refus-red {
    background: rgba(255, 0, 0, 0.5) !important;
}

.block-budget {
    margin-top: 5px;
    padding: 7px 11px;
}

.change-budget {
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.change-budget:hover,
.change-budget:active {
    background: lightgrey;
}

.no-border.form-control[disabled], .no-border.form-control[readonly] {
    background: transparent;
    cursor: default;
}

input.no-border.form-control[disabled]:hover, select.form-control[disabled].no-border:hover {
    background: transparent;
}

.budget-row input, .budget-row label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto;
    vertical-align: middle;
    width: auto;
}

.budget-row label {
    min-width: 150px;
    margin-right: 10px;
}

img.center {
    display: block;
    margin: 50px auto;
    max-width: 50px;
}

#blockValidate {
    margin-top: 20px;
}

#blockValidate .header {
    margin-top: -20px;
    margin-left: -20px;
    width: calc(100% + 40px);
    padding: 10px;
}

#adddemande .info-supp,
#adddemande .dimensions,
#adddemande .vehicule,
#adddemande .bon-cadeau,
#adddemande .personnalisation,
#adddemande .autre {
    display: none;
}

.btn-primary.bkg-grey {
    background: lightgrey !important;
}

.new-function {
    position: absolute;
    right: 40px;
}

.new-function.cptTiming {
    background: #ed2024;
}

tfoot th {
    vertical-align: top;
}

#table-tarifs .change_field {
    max-width: 80px;
}

.modal-buttons {
    padding: 30px 20px;
}

.blockRefus {
    display: none;
}

#refusEnvoiDemande {
    margin-top: 15px;
}

.btn.less-padding {
    padding: 3px 7px;
}

#switch-mod-budget {
    max-width: 200px;
}

/*.group-img-slide {
  background: white none repeat scroll 0 0;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 4px;
  max-width: 30%;
  padding: 4px;
}

.del-img {
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.files-slide .img-preview {
    background-size: cover;
    height: 200px;
    width: 300px;
    display: inline-block;
}*/


#clip-hidden {
    position: absolute;
    top: -99999px;
    z-index: -10;
}

h3.info-title {
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
}


table.tablesorter th.headerSortUp {
    background-image: url(http://tablesorter.com/themes/blue/asc.gif);
    background-repeat: no-repeat;
    background-position: center right;
    background-color: rgba(0, 0, 0, 0.1);
}

table.tablesorter th.headerSortDown {
    background-image: url(http://tablesorter.com/themes/blue/desc.gif);
    background-repeat: no-repeat;
    background-position: center right;
    background-color: rgba(0, 0, 0, 0.05);
}

.icon-checked {
    color: green;
    font-size: 16px;
    margin-right: 20px;
    vertical-align: middle;
}

.btn-adwords-franchise .icon-ads {
    display: inline-block;
    margin: 5px auto auto;
    max-width: 70%;
    vertical-align: middle;
    width: auto;
}

.btn-adwords-franchise {
    background: white none repeat scroll 0 0;
    border-radius: 20px;
    bottom: 5px;
    display: block;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 45px;
    text-align: center;
    width: 40px;
}

.totalRow {
    font-weight: bold;
}

.italic {
    text-decoration: italic;
}

.fd-tile.clean .detail-analytics {
    background-color: #f7981e;
}

.numberloading {
    max-width: 40px;
}

#modify-open .open-agency {
    display: inline-block;
    max-width: 80%;
}

.page-head h2 {
    padding: 15px;
}

.page-head .filtre {
    display: inline-block;
    margin-top: 6px;
}

.search-row.pull-right {
    margin-top: 6px;
}

.page-head .filtre .select-content {
    margin-top: 0;
    background: transparent;
}

.page-head.margin-bottom {
    margin-bottom: 20px;
}

#select_month_stats, #select_year_stats {
    background: transparent;
    margin-top: 6px;
}

.stats-analytics #select_month_stats, .stats-analytics #select_year_stats {
    margin-top: 0;
}

#list-sort li {
    list-style-type: none;
}

.page-head .search-row {
    padding: 15px;
}

.menu-item {
    padding: 10px;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
    position: relative;
    cursor: move;
}

.btn-modifier {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: #00baff;
    color: white;
    cursor: pointer;
}

.btn-modifier:hover {
    opacity: 0.7;
}

.processus-link > a {
    margin-right: 2px;
}

.text-right {
    text-align: right;
}


.progress {
    width: 200px;
    border-radius: 20px;
    display: none;
}

.classement-anim .progress {
    display: block;
    width: auto;
}

.addfiles {
    width: auto;
}


.group-filename i.icon {
    font-size: 56px;
    position: absolute;
    top: 17px;
    left: 15px;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
}


.group-filename i.icon i {
    font-size: 12px;
    position: absolute;
    top: 51px;
    left: -5px;
    color: white;
    background: #00baff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #fff
}

button#openFile,
button#print,
button#viewAttachments,
#viewBookmark {
    display: none !important;
}

#outerContainer .thumbnail {
    border: none !important;
}

#viewer .page {
    width: 100% !important;
    margin: auto;
}

#viewer .page .canvasWrapper {
    margin: auto !important;
}

#sidebarContent .outlineItem {
    background: #fff;
    padding: 0 0 0 15px;
    margin: 0;
}

#sidebarContent {
    background: #fff;
    padding: 0;
    margin: 0;
}

#sidebarContent a {
    color: #555 !important;
}

#sidebarContent .outlineItems a:focus {
    color: #000 !important;
    background: #eee;
}

#sidebarContent .outlineItems {
    padding: 0;
    margin-left: 0;
}

#outerContainer {
    min-height: 200px;
    background: white !important;
}


.outlineItemToggler {
    width: 18px;
    position: absolute;
    left: 0;
}

.outlineItemToggler:before {
    width: 15px;
    text-align: center;
}

#thumbnailView {
    width: 100% !important;
}

.group-filename a.delete_docs {
    position: absolute;
    right: 0;
    width: 40px;
    height: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 100px;
    background: #ff3d3d;
    color: white;
    transition: all 0.3s;
    opacity: 0;
}

.group-filename a.modify {
    position: absolute;
    right: 40px;
    width: 40px;
    height: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 100px;
    background: #5b5b5b;
    color: white;
    transition: all 0.3s;
    opacity: 0;
}

.group-filename:hover .modify,
.group-filename:hover .delete_docs,
.group-filename a.modify:hover,
.group-filename a.delete_docs:hover {
    height: 100%;
    opacity: 1;
}

.group-filename a.modify:hover {
    opacity: 0.5;
}

.group-filename a.delete_docs:hover {
    opacity: 0.5;
}

.editable {
    background: #dedede;
}

.group-filename a.modify.modifActive {
    background: green;
    width: 80px;
    right: 0;
    height: 100%;
    opacity: 1;
}

.group-filename a.modify.modifActive:hover {
    opacity: 0.5;
}

.group-filename a.delete_docs.deleteInactive {
    width: 0;
}

.group-filename .nameFile, .group-filename a {
    font-weight: bold;
    color: #333;
}

.group-filename {
    background: #eee;
    padding: 20px 30px 10px 85px;
    min-height: 100px !important;
    margin: 10px 0;
    line-height: 18px !important;
}

.group-filename p {
    color: #333;
    line-height: 17px;
    font-size: 11px;
}

.container-table {
    position: relative;
}

.cover-table {
    position: absolute;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
}

.cover-table .content ul li {
    list-style-type: none;
}

.container-list {
    position: relative;
}

.list-hidden {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid lightgrey;
    padding: 10px 20px;
    border-radius: 3px;
    color: #444;
    box-sizing: border-box;
    min-width: 300px;
    z-index: 99;
}

.list-hidden:hover {
    display: block;
}

.list-hidden ul {
    padding: 0;
}

.list-hidden ul li {
    list-style-type: none;
    text-align: left;
}


.switchStatus {
    position: relative;
}

.changeStatutPerso {
    position: absolute;
    display: none;
    background: transparent;
    padding: 10px 20px;
    border-radius: 3px;
    color: #444;
    box-sizing: border-box;
}

.changeStatutPerso span {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 5px;
    margin-left: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

.changeStatutPerso span.active {
    background: lightgrey;
}

.changeStatutPerso span:hover {
    background: #00baff;
    color: white;
}

.changeStatutPerso span :first-child {
    margin-left: 0;
}

.list-intervenant {
    padding: 0;
}

.list-intervenant li {
    list-style-type: none;
}

.list-intervenant li.switchStatus {
    cursor: pointer;
}

.changeClient {
    max-width: 260px;
    position: absolute;
    display: none;
}

.changeClient .search_user {
    width: 80%;
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: middle;
}

.changeClient #validChangeClient {
    width: 20%;
    display: inline-block;
    margin-right: -0.25em;
    height: 100%;
    padding: 6px 8px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    color: white;
    background: #00baff;
    margin-left: -2px;
    vertical-align: middle;
    height: 34px;
}

.showChangeClient {
    position: relative;
    cursor: pointer;
}

.label-color1 {
    background-color: none;
}


#timing table > tbody.totalRow > tr > td:first-child,
#timing table > tbody.totalRow tr td {
    background: #333;
    color: white;
}

#timing table > tbody.totalRow tr td .totalprix {
    color: white;
    font-weight: normal;
}

#galeryBack > div {
    display: inline-block;
    margin-right: -0.25em;
    background: lightgrey;
}

#galeryBack .highlight {
    display: inline-block;
}

#addTime #error {
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    display: inline-block;
}

.show-list {
    cursor: pointer;
}

.filtreInterv {
    background: #272930;
    border-radius: 2px;
}

.filtreInterv:hover,
.filtreInterv:active,
.filtreInterv:focus {
    opacity: 0.8;
    background: #272930;
}

.filtreInterv.active {
    background: #272930;
    opacity: 0.8;
}

.filtreInterv .label.label-primary.cptTiming {
    background-color: red;
    color: white;
    margin-left: 10px;
}

.blockTableWork {
    display: none;
}

.cursor {
    display: inline-block;
    transition: 0.2s all;
}

.cursor.open {
    transform: rotate(90deg);
}

.openTable {
    cursor: pointer;
}

.info-right {
    text-align: right;
    padding: 10px;
}

.info-right.small {
    font-size: 10px;
}

.switchBlock:hover {
    cursor: pointer;
}

.breadcrumb > .active,
.cl-vnavigation.light li a.active,
.gotoMaps, .getMaps {
    /* color: #3367d6; */
    color: #00baff;
}

/* .breadCrumbs-start:after {
  content: "/\00a0";
  padding-left: 5px;
  color: #ccc;
  display: inline-block;
} */

.breadCrumbs-start {
    font-size: 16px;
}

#breadCrumbs {
    display: inline-block;
    font-size: 16px;
}

.cl-vnavigation.light {
    margin-top: 20px;
}

.cl-vnavigation.light li {
    position: relative;
}

.cl-vnavigation.light li .menuExplication {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.cl-vnavigation.light li a {
    color: #22242b;
    background-color: white;
}

.cl-vnavigation.light li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.cl-vnavigation li a {
    height: 50px;
}

#adsNav .popover {
    max-width: 100%;
}

#contentAds table .switchBlock,
#contentAds table .switchBlock:hover {
    color: #3367d6;
}

#contentAds table .switchBlock:hover {
    text-decoration: underline;
}

.adsChart #Impressions .chartContent,
.adsChart #Clicks .chartContent,
.adsChart #Conversions .chartContent {
    display: none;
}

.adsChart .graph {
    height: 200px;
}

.legend {
    padding-bottom: 15px;
}

.adsChart .legendeBlock {
    display: inline-block;
    width: 100px;
    text-align: left;
    color: #060606;
    padding: 10px;
    box-sizing: border-box;
    min-width: 10%;
    background-color: #f2f2f2;
}

.adsChart .legendeBlock .total {
    font-size: 18px;
}

.adsChart .legendeBlock#Clicks .total,
.adsChart .legendeBlock#Conversions .total {
    font-weight: bold;
}

.adsChart .legendeBlock#Clicks {
    background-color: #5993f5;
    color: white;
}

.lockedAdGroup {
    display: block;
    text-align: center;
}

.lockedAdGroup i {
    font-size: 20px;
}

.detailBlockBar,
.ratioInfo,
.getMaps {
    cursor: pointer;
}

.adsChart .legendeBlock#Conversions {
    background-color: #0f9d58;
    color: white;
}

.adsChart .graph {
    margin-top: 20px;
}

#contentAds.content .row {
    margin-top: 0;
}

#contentAds.content .block-flat {
    margin: 0;
}

.contentLoad {
    opacity: 1;
    transition: opacity 1s ease;
}


.contentLoad .loadingDiv {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.contentLoad .loadingDiv .loadbar {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
}

.contentLoad .loadbar:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #4285f4;
    animation: loading 2s linear infinite;
}

.contentLoad .fakeContent > div {
    min-height: 30px;
    background-color: #f0f0f0;
    margin-top: 10px;
}

.contentLoad .fakeContent > div:first-child {
    margin-top: 0;
}

.progressBlock {
    background-color: #f2f2f2;
    width: 100%;
    float: left;
}

.totalBlockBar {
    background-color: #f2f2f2;
    padding: 5px;
    display: block;
    text-align: center;
    max-height: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

#adsBudget .detailBlockBar {
    background-color: #dadada;
    color: white;
    padding: 5px;
    display: block;
    max-width: 30px;
    text-align: center;
}

.progressBlock .progressBar {
    color: white;
    text-align: right;
    max-height: 30px;
    box-sizing: border-box;
    float: left;
    height: 30px;
}

.progressBlock .progressBar > span {
    padding: 5px 15px;
    float: right;
    max-height: 30px;
    box-sizing: border-box;
    display: block;
}

.progressBlock .progressBar.redBar {
    background-color: #ef443d;
}

.progressBlock .progressBar.orangeBar {
    background-color: #ff9b0d;
}

.progressBlock .progressBar.greenBar {
    background-color: #0a9d57;
}

#adsBudget .row > div {
    padding: 0 !important;
    max-height: 30px;
}

span.labelBar {
    height: 30px;
    display: block;
    line-height: 30px;
}

.changeDate {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#adsBudget .alignleft {
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

#adsBudget .ratioInfo {
    color: #b3b3b3;
}

.profile_menu .dropdown-toggle {
    padding: 0;
    margin: 0;
}

.nav.user-nav > li > a:hover, .nav.user-nav > li > a:focus, .nav.user-nav > li > a:active {
    background-color: transparent;
}

#head-nav.navbar.navbar-default {
    height: 64px;
}

.btnAddKeyword {
    width: 40px;
    height: 40px;
    border-radius: 32px;
    background: #5695f2;
    display: block;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 30px;
    position: absolute;
    left: -21px;
    cursor: pointer;
}

.btnAddKeyword:hover,
.btnAddKeyword:active,
.btnAddKeyword:focus {
    color: white;
}

table tr:nth-child(2n) {
    background-color: transparent;
}

.blockSwitchUsers {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    background: white;
    padding: 15px;
    border: 1px solid lightgrey;
    border-right: 0;
    transition: right 0.5s ease-in;
}

.openBlockSwitchUsers {
    position: absolute;
    left: -40px;
}

.blockSwitchUsers.open {
    right: 0;
}

.openBlockSwitchUsers {
    position: absolute;
    left: -30px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    text-align: center;
    border-right: 0;
    width: 30px;
    height: 26px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: white;
    padding-left: 2px;
    cursor: pointer;
}

.alertEmpty {
    background: rgba(255, 1, 1, 0.2);
}

.imgBlock {
    display: block;
    height: 220px;
    width: 220px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.imgBlock img {
    width: 100%;
}

.deleteImg {
    position: relative;
    top: -220px;
    z-index: 10;
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.rowTop {
    clear: both;
    margin-bottom: 15px;
    padding: 15px;
    float: left;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    font-weight: 500;
    font-size: 16px;
}

.budgetBar.simple {
    min-width: 250px;
}

.budgetBar.simple .progressBlock .progressBar > span,
.budgetBar.simple .progressBlock,
.budgetBar.simple .progressBlock .progressBar,
.budgetBar.simple .totalBlockBar {
    max-height: 20px;
    line-height: 10px;
}

.budgetBar.simple > div {
    padding: 0;
    max-height: 20px;
    line-height: 20px;
}

.alignRight {
    text-align: right;
}

table thead span {
    display: inline;
    font-size: 12px;
}

.rightSelect {
    padding: 11px 0;
}

.hiddenSelect {
    border: 0;
    display: inline-block;
    width: auto;
    text-align: right;
}

.redRow {
    color: red;
    font-weight: 600
}

.naturelBlock {
    display: none;
}

#adsBlock table tr.negative {
    display: none;
}

.navbar-nav.not-nav {
    width: 100%;
}

.arrowRight {
    display: none;
}

.btnAddKeyword .mobile {
    display: none;
}

.otherRow {
    font-weight: bold;
    opacity: 0.7;
    border-top: 1px solid lightgrey;
}

h3#titleStats {
    padding-bottom: 15px;
}

@media screen and (max-width: 1550px) {
    .cl-mcont.aside > #contentAds.content {
        display: block;
        width: 100%;
    }

    #contentAds.content {
        margin-top: 50px;
    }

    .cl-mcont.aside {
        display: block;
    }

    .cl-mcont.aside .page-aside {
        display: block;
        width: 100%;
        float: none;
        height: auto;
        position: absolute;
        top: 65px;
    }

    .page-aside > div {
        width: 100%;
    }

    #adsNav li {
        display: inline-block;
    }

    .cl-vnavigation.light {
        margin-top: 0;
    }

    #adsNav {
        height: 50px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .btnAddKeyword {
        position: initial;
        display: block;
        border-radius: 0;
        width: auto;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 160px;
    }

    .btnAddKeyword .nomobile {
        display: none;
    }

    .btnAddKeyword .mobile {
        display: block;
    }

}

@media screen and (max-width: 1100px) {
    .arrowRight {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: #22242b;
        z-index: 10;
        height: 50px;
        line-height: 50px;
        width: 20px;
        background: white;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .entreprise-gest {
        display: none;
    }

    .message-screen {
        display: block;
    }

    #contentAds .no-padding {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

@media screen and (max-width: 980px) {
    .breadCrumbs-start {
        margin-left: 40px;
    }

    .nav.navbar-nav.user-nav {
        position: absolute;
        left: 100%;
        top: 15px;
    }

    .cl-vnavigation.light li a span {
        opacity: 1;
        width: auto;
        height: auto;
    }

    .logo {
        display: inline-block;
        height: 100%;
        padding: 15px;
        width: 100%;
        text-align: center;
        line-height: 100%;
    }

}

@media screen and (max-width: 800px) {
    .visitors {
        padding: 0;
    }

    .statistiques .footer-block {
        margin-left: -20px;
    }
}

@media screen and (max-width: 767px) {
    .info_agence {
        display: block;
        text-align: center;
    }

    .link-left, .graph-right {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .link-left h3 {
        text-align: center;
    }

    .nav.navbar-nav.user-nav {
        position: absolute;
        right: 70px;
        top: 10px;
        left: auto;
    }

    .navbar-nav.not-nav {
        float: none;
    }

    .breadCrumbs-start {
        margin-left: 20px;
    }

    .logo {
        padding: 0;
        text-align: left;
    }

    .cl-mcont.aside .page-aside {
        top: 64px;
    }

    .breadCrumbs-start:after {
        content: " ";
    }

    #breadCrumbs.breadcrumb {
        display: none;
    }

    .breadCrumbs-start {
        padding: 4px;
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 700px) {
    .mce-menubar, .mce-toolbar-grp {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {

    table {
        display: inline-block;
        overflow-x: scroll;
    }

    .avatar-wrapper {
        height: 230px;
        margin: auto;
        width: 230px;
    }

    .block-cropper {
        height: 230px;
        margin-bottom: -230px;
        position: relative;
        top: -230px;
        width: 100%;
    }

    .preview-lg {
        float: none;
        height: 184px;
        margin: 20px auto auto;
        width: 184px;
    }

    .cke_toolbox {
        display: none;
    }

    .header h1,
    .header-page {
        text-align: center;
    }

    .avatar-view {
        margin: auto;
    }

    .nav-tabs {
        display: none;
    }

    .open-nav-tab {
        display: block;
    }

    .nav-tabs > li {
        display: block;
        width: 100%;
    }

    .select-content {
        float: inherit;
        margin-top: 0;
    }

    .float-left {
        float: inherit;
    }

    h1 {
        font-size: 24px;
    }

    .header h3 {
        font-size: 20px;
    }

    .accueil-header {
        font-size: 24px;
    }

    #btn-signature {
        display: none;
    }

    .mce-tinymce .mce-edit-area {
        max-width: 100%;
        width: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch
    }

    #positions-detail {
        clear: both;
        display: block;
        float: none !important;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .block-stat {
        text-align: center;
    }

    .x1Axis .flot-tick-label.tickLabel {
        font-size: 6px;
    }

}