/* ambiance theme for codemirror */

/* Color scheme */

.cm-s-ambiance .cm-keyword {
    color: #2CA08F;
}

.cm-s-ambiance .cm-atom {
    color: #CF7EA9;
}

.cm-s-ambiance .cm-number {
    color: #78CF8A;
}

.cm-s-ambiance .cm-def {
    color: #aac6e3;
}

.cm-s-ambiance .cm-variable {
    color: #9FD0EC;
}

.cm-s-ambiance .cm-variable-2 {
    color: #eed1b3;
}

.cm-s-ambiance .cm-variable-3 {
    color: #faded3;
}

.cm-s-ambiance .cm-property {
    color: #eed1b3;
}

.cm-s-ambiance .cm-operator {
    color: #fa8d6a;
}

.cm-s-ambiance .cm-comment {
    color: #6F7176;
    font-style: italic;
}

.cm-s-ambiance .cm-string {
    color: #DCC175;
}

.cm-s-ambiance .cm-string-2 {
    color: #ED7169;
}

.cm-s-ambiance .cm-meta {
    color: #D2A8A1;
}

.cm-s-ambiance .cm-qualifier {
    color: yellow;
}

.cm-s-ambiance .cm-builtin {
    color: #9999cc;
}

.cm-s-ambiance .cm-bracket {
    color: #24C2C7;
}

.cm-s-ambiance .cm-tag {
    color: #f386ac;
}

.cm-s-ambiance .cm-attribute {
    color: #9fd0ec;
}

.cm-s-ambiance .cm-header {
    color: blue;
}

.cm-s-ambiance .cm-quote {
    color: #24C2C7;
}

.cm-s-ambiance .cm-hr {
    color: pink;
}

.cm-s-ambiance .cm-link {
    color: #F4C20B;
}

.cm-s-ambiance .cm-special {
    color: #FF9D00;
}

.cm-s-ambiance .cm-error {
    color: #EA6153;
}

.cm-s-ambiance .CodeMirror-matchingbracket {
    color: #0f0;
}

.cm-s-ambiance .CodeMirror-nonmatchingbracket {
    color: #f22;
}

.cm-s-ambiance .CodeMirror-selected {
    background: rgba(255, 255, 255, 0.15);
}

.cm-s-ambiance.CodeMirror-focused .CodeMirror-selected {
    background: rgba(255, 255, 255, 0.10);
}

/* Editor styling */

.cm-s-ambiance.CodeMirror {
    line-height: 1.40em;
    font-family: Consolas !important;
    font-size: 12px !important;
    font-weight: bold;
    color: #E6E1DC;
    background-color: #3c3e43;
    height: 225px;
}

.cm-s-ambiance .CodeMirror-gutters {
    background: #202124;
    border-right: 1px solid #3f4147;
}

.cm-s-ambiance .CodeMirror-linenumber {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #5c5d60;
    padding: 0 8px;
}

.cm-s-ambiance .CodeMirror-lines .CodeMirror-cursor {
    border-left: 1px solid #7991E8;
}

.cm-s-ambiance .CodeMirror-activeline-background {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.031);
}