/* NEW MENU 25/10/2018 */
/* ancier logo cs 20180717082401.png / mm 20180215113632.png */

.py-0{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.border-b-0{
    border-bottom: none !important;
}

.relative{
    position: relative;
}
body{
    background-color: #fff;
}
.txt-white{
    color: white;
}
.txt-white:hover{
    color: #000;
}
.cl-sidebar{
    background: #fff;
    border-right: 1px solid #f6f6f6;
}
.cl-vnavigation li a, #sub-menu-nav > ul li > a{
    position: relative;
    color: #22242b;
    height: 40px;
    line-height: 40px;
    padding: 0px 0 0 25px;
    margin-right: 25px;
}
#sub-menu-nav > ul li > a{
    padding: 0px 20px 0 25px;
}
.cl-vnavigation .parent ul li a {
    font-size: 12px;
    background-image: none;
    padding: 0px 18px 0px 40px;
}
.cl-vnavigation li a:hover, .cl-vnavigation .parent ul li a:hover, .cl-vnavigation li a.isactive, .cl-vnavigation.light li a.active,
#sub-menu-nav > ul li > a.isactive, #sub-menu-nav > ul li > a:hover
{
    background-color: #f0f0f0;
    color: #22242b;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
}
.cl-vnavigation li a.isactive i, .cl-vnavigation.light li a.active i{
    color: #22242b;
}
.cl-vnavigation li a.isactive, .cl-vnavigation.light li a.isactive, #sub-menu-nav > ul li > a.isactive {
    font-weight: bold;
}
.options-function.cptTiming {
    background: none;
    color: #22242b;
}
.menu-space i.material-icons, #sub-menu-nav i.material-icons{
    vertical-align: middle;
}
.menu-space .content .sidebar-logo{
    padding: 15px 20px 15px 25px;
    position: relative;
    border-bottom: 1px solid #f6f6f6;
    background-color: #fff !important;
}
.content .sidebar-logo > a{
    width: 99px;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content .sidebar-logo > a .logo{
    padding:0;
    width: 100%;
}
.content .sidebar-logo > a .logo img{
    max-height: none;
    max-width: 100%;
}
#head-nav.navbar{
    border-bottom: 1px solid #f6f6f6;
    transition: all ease 0.3s;
}
.cl-vnavigation li ul{
    background: #fff;
}
.cl-vnavigation .label {
    border-radius: 50px;
    transform: translateY(-50%);
    top: 50%;
}
.profile_menu img {
    border-radius: 100;
    -webkit-border-radius: 100%;
}
.options-function {
    position: absolute;
    right: 10px;
    background:#888;
}
.new-function{
    background: #00baff;
}
.cl-vnavigation .parent > a:before {
    content: "\e315";
    font-family: 'Material Icons';
    position: absolute;
    left: 10px;
}
.cl-vnavigation li a i, #sub-menu-nav > ul li i {
    height:40px;
    font-size: 18px;
    line-height: 36px;
    color:#888;
    margin-right: 7px;
}
.cl-vnavigation.light li .menuExplication {
    right: 40px;
    top: 10px;
    color: #22242b;
    font-weight: bold;
}


.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
.hamburger:hover {
    opacity: 0.7; }
.hamburger.is-active:hover {
    opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; }

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    right:0;
    background-color: #a8a8a8;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }


.hamburger--elastic .hamburger-inner {
    top: 5px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.hamburger--elastic .hamburger-inner::before {
    top: 8px;
    transition: opacity 0.125s 0.275s ease; }
.hamburger--elastic .hamburger-inner::after {
    top: 16px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 7px, 0) rotate(135deg);
    transition-delay: 0.075s; }
.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -16px, 0) rotate(-270deg);
    transition-delay: 0.075s; }


.menu-item[data-target='#modifmenu'] span.icone i, .menu-item .btn-modifier i{
    vertical-align: middle;
    font-size: 18px;
}

li.bugsClass {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

}
li.bugsClass i{
    color: #ffaa3f !important;
}
li.helpClass{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}
li.bugsClass a, li.helpClass a{
    color: #888;
}
/**************************************************** LOGIN ******************************************************/

.login-container .block-flat .header{
    background: #fff;
    border-bottom: none;
    padding: 30px 30px;
    position: relative;
    height: 130px;
}
.login-container .block-flat .content{
    padding: 0px 30px 30px;
}
#connexion{
    border-top: 2px solid #fff;
}

.login-container .middle-login{
    margin-top:0;
    margin-left:0;
    transform: translate(-50%, -50%);
}

.login-container .header .form-img{
    max-height: 70px;
    height:100%;
}
.login-container .header span{
    position: absolute;
    right: 30px;
    transform: translateY(-50%);
    top:50%;
    color: #00baff;
    font-size: 20px;
    font-weight: 600;
}
.login-container .inputCustom input{
    border-top: none;
    border-left: none;
    border-right: none;
}

.login-container .block-flat .content .form-group{
    margin-bottom: 30px;
}

.login-container .block-flat .content .form-group:last-child{
    margin-bottom: 0px;
}

.login-container .block-flat{
    box-shadow: none;
    border-radius: 0;
}

label[for='user_rememberme'] span:last-child{
    color: #999;
    font-weight: normal;
}
.blockRGPD{
    position: relative;
}
.form-group.blockRGPD > span{
    position: relative;
    top: -10px;
    margin-left: 10px;
}
.form-group.blockRGPD > a{
    position: absolute;
    top:0;
    right:0;
}
#submitconnexion{
    font-size: 18px;
}
.onoff1984 {
    display:inline-block;
    position: relative;
    width: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoff1984-checkbox {
    opacity: 0;
    left:-999px;
    position: absolute;
}

.onoff1984-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 20px;
    padding-bottom: 0 !important;
}

.onoff1984-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoff1984-inner:before,
.onoff1984-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 21px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoff1984-inner:before {
    content: "";
    padding-left: 10px;
    background: #00bbffd7;
    opacity:0.5;
    color: #FFFFFF;
    border-radius: 56px;
}

.onoff1984-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #a2a4a5;
    color: #999999;
    text-align: right;
    border-radius: 56px;
}

.onoff1984-switch {
    display: block;
    width: 22px;
    height: 22px;
    margin: -3.5px;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 18px;
    border: 3px solid #fff;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    box-shadow:0 3px 0 1px rgba(0,0,0,0.15);
}

.onoff1984-checkbox:checked+.onoff1984-label .onoff1984-inner {
    margin-left: 0px;
}

.onoff1984-checkbox:checked+.onoff1984-label .onoff1984-switch {
    right: 1px;
    background: #00baff;
    border-color: #00baff;
    box-shadow: 0 2px 0 1px rgba(0,0,0,0.05);
}

body.texture{
    background: #f2f2f2;
}
body.textureBg{
    /* background: url(../images/bg-connexion.jpg) no-repeat; */
    background-size: cover;
}

.login-container .block-flat .content.resetBloc {
    padding: 30px 30px;
}

.login-container .block-flat .content.resetBloc label {
    margin-bottom: 20px;
    text-align: center;
}
.companySelect{
    /*background-color: blue;*/
    width:30%;
}
.login-container .foot a{
    margin-right: 10px;
}
.blockSwitchUsers{
    z-index: 100;
}
.cl-vnavigation img {
    width: 15px;
    margin-left: 2px;
    margin-right: 10px;
}
.defaultHeaderTitle{
    /* padding: 20px 13px; */
    padding: 16px 13px 0;
    width:100%;
}
.defaultHeaderTitle.flex{
    display:flex;
}
.headerTitle{
    font-size: 20px;
    color: #3F4148;
    font-weight: 400;
    /* line-height: 20px; */
    display: inline-block;

}
.headerTitle a{
    color: #3F4148;
}
.headerTitle i{
    vertical-align: middle;
}

.page-head.row{
    margin-right: 0;
    margin-left: 0;
}

.navbar-collapse .form-control::-webkit-input-placeholder{
    color: #2c3e50;
}
.navbar-collapse .form-control::-moz-placeholder{
    color: #2c3e50;
}
.navbar-collapse .form-control::-ms-placeholder{
    color: #2c3e50;
}

.navbar-collapse .iconInput i.placeholder{
    position: absolute;
    top: 50%;
    left:10px;
    transform: translatey(-50%);
    pointer-events: none;
    color: #2c3e50;
}
/* .search-row #search-agence{
    padding-left:30px;
} */
.openSearch{
    display: none;
}
.searchBar{
    border: none;
    border-radius: 5px;
    background: #f2f2f2;
    height:44px;
    padding-left: 40px;
}
.search-row{
    padding: 0 15px !important;
}
.search-row .iconInput{
    /* top: -10px; */
    top: -8px;
}

.apphead select{
    height: auto!important;
    font-size: 20px;
    background-position: right 6px;
}
.apphead select option {
    height: auto!important;
    width:1em!important;
    color: #999!important;
    font-size: 15px;
}
.apphead select:hover, .apphead select:focus, .apphead select:active{
    background-position: right 6px;
}

.blocSelect{
    display: inline-block;
}
.blocSelect select{
    background-image: none;
    color: #00baff;
    padding:0 !important;
    height: auto !important;
}
.shadow{
    -webkit-box-shadow: 0px 22px 35px -11px rgba(155, 49, 49, 0.20);
    -moz-box-shadow: 0px 22px 35px -11px rgba(204,204,204,0.20);
    box-shadow: 0px 22px 35px -11px rgba(204,204,204,0.20);
    transition: all ease 0.3s;
}

.cl-vnavigation li a{
    white-space: normal;
}
.page-aside .cl-vnavigation li a{
    height: auto;
    line-height: 16px;
    padding: 12px 0 12px 25px;
}

.search-row.pull-right{
    margin-top: 0;
}
.refonte{
    padding-top: 200px;
}
.iconTooltip{
    background: #00baff;
    font-weight: strong;
    color: #fff;
    border-radius: 100%;
    margin-left: 10px;
    padding: 0px 6px;
}
.addround{
    transition: all ease 0.3s;
}
.addround:hover{
    transform: scale(1.02);
}
#search-pour{
    max-width: none;
}

.blockSwitchUsers{
    top: 47px;
}
.headerTitle i{
    cursor: pointer;
}

.BgYellow{
    background: yellow !important;
}
#infoFranchise .blocSelect{
    position: relative;
    left: -2px;
}

#prospections .contentLoad .loadingDiv{
    bottom: -8px;
}

.contentLoad .loadingDiv{
    z-index: 10;
}

/**************************************************** RESPONSIVE ******************************************************/
@media (max-height: 840px){
    li.bugsClass, li.helpClass{
        position: static;
    }
}
@media (min-width: 980px){
    .cl-mcont{
        margin-left: 280px;
        margin-top:64px;
    }
    .cl-sidebar{
        position: fixed;
        top:0;
        z-index: 11;
        height: 100%;
        padding-bottom: 0;
        overflow: auto;
    }
    #head-nav.navbar.navbar-default{
        position: fixed;
        width: calc(100% - 280px);
        z-index: 10;
        margin-left: 280px;
    }
    .cl-mcont.aside{
        width: calc(100% - 280px);
        margin-top: 64px;
    }
    .icone img{
        width: 15px;
        position: relative;
        top: -2px;
    }
}


@media (max-width: 979px) and (min-width: 768px){
    /* .navbar-collapse{
        padding-right: 0;
        padding-left: 0;
    } */
    .dropdown-header img, .sub-menu img{
        width: 15px;
        margin-right: 7px;
    }
    .cl-vnavigation img {
        margin-left: 4px;
        margin-right: 0;
    }
    .nav.navbar-nav.user-nav {
        position: static;
    }
    .nav.navbar-nav.not-nav h3{
        text-align: right;
        float: none !important;
        display:inline-block;
    }
    .nav.navbar-nav.not-nav .select-content{
        float: none !important;
    }
    .nav.navbar-nav.not-nav form{
        display: inline-block;
    }
    .content .sidebar-logo > a{
        position: absolute;
        left: calc(100% + 30px);
    }
    .cl-vnavigation li a{
        text-align: center;
    }
    .dropdown.profile_menu{
        margin-left: 0;
    }
    .menu-space i.material-icons {
        width: 100%;
    }
    .cl-vnavigation li a {
        padding: 0px 10px 0 25px;
        margin-right: 15px;
    }
    .menu-space .content .sidebar-logo {
        padding: 15px 25px 15px 25px;
    }
    .dropdown-menu{
        left:0 !important;
    }
    .dropdown.profile_menu .dropdown-menu:before {
        right: 135px;
    }
    .toolsBlock{
        display:none;
    }
    .nav.navbar-nav.not-nav{
        text-align: right;
    }
    .nav.navbar-nav.not-nav > li{
        float: none;
    }
    .cl-vnavigation > .parent > a:before {
        display: block;
    }
    .cl-vnavigation > .parent.open > a:before {
        transform: none;
    }
    .sub-menu .dropdown-header{
        color: #22242b;
    }
    #sub-menu-nav > ul li > a{
        font-size: 12px;
    }
    .cl-vnavigation li a i{
        height: auto;
    }
    .menu-space i.material-icons{
        vertical-align: initial;
    }
    .defaultHeaderTitle.flex{
        justify-content: flex-end;
    }
}


@media (max-width: 767px){
    #objAgence, #objPerso{
        height: 38px !important;
    }
    .blockSearchClient{
        float: none !important;
        display:block;
        padding-top: 15px;
    }
    .py-sm-5{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .modal-dialog.modal-xlg {
        width: auto;
    }
    .defaultHeaderTitle.apphead .blocSelect{
        float:right;
    }
    /* .defaultHeaderTitle.apphead{
        justify-content: space-between;
      } */
    .defaultHeaderTitle.apphead select{
        font-size: 12px!important;
        line-height: 16px!important;
    }
    .select-content.headerTitle{
        height:auto;
    }
    .defaultHeaderTitle.flex{
        justify-content: space-between;
    }
    .menu-space .content .sidebar-logo{
        padding-left: 20px;
    }
    .navbar{
        min-height: auto;
    }
    .nav.navbar-nav.not-nav{
        text-align: left;
    }
    .defaultHeaderTitle {
        padding: 9px 13px 0;
    }
    .toolsBlock a.iconHeader {
        position: relative;
        top: -15px;
    }
    .sidebar-logo{
        margin-bottom: 0;
    }
    #head-nav.navbar.navbar-default{
        height:auto;
    }
    .headerTitle, .accueil-header{
        font-size:12px;
        line-height: 16px;

    }
    /* .headerTitle a{
        color: #a8a8a8 !important;
    } */
    .cl-sidebar .cl-toggle {
        z-index: 1;
        background: none;
        padding: 7px 0px;
    }
    .dropdown.profile_menu .dropdown-menu{
        left:-140px;
    }
    li.bugsClass, li.helpClass {
        position: static;
    }
    .login-container .middle-login{
        left: 50%;
    }
    .navbar-collapse .iconInput{
        text-align: right;
    }
    .iconInput .openSearch{
        display: inline-block;
        position: relative;
        cursor: pointer;
        right: 0;
        top: 5px;
    }
    .iconInput .searchBar{
        display: block !important;
        width:0;
        height:0;
        padding:0;
        border:none;
        transition: width ease 1s;
    }
    .navbar-collapse .iconInput i.placeholder{
        width:0;
        height:0;
        opacity: 0;
    }
    .page-head .search-row {
        padding: 0;
        position: absolute;
        left: 0;
        width: 100%;
        right: 0;
        padding:0 10px!important;
    }
    .page-head {
        padding-bottom: 0px;
    }
    .navbar-collapse .iconInput.showSearch i.placeholder{
        opacity: 1;
        left: 5px;
        width: auto;
        height: auto;
    }
    .showSearch .searchBar{
        width: 100%;
        height: 34px;
        padding-left: 30px;
    }
    .showSearch{
        position: absolute;
        left: 0;
        right: 0;
        top: 0 !important;
    }
    .showSearch i.openSearch{
        display: none;
    }
    .navbar-collapse{
        margin: 5px 0;
        height: 34px;
    }
}


@media (max-width: 359px){
    .form-group.blockRGPD > a{
        position: static;
        display: block;
        padding-top: 10px;
    }
    .login-container .block-flat .header{
        padding: 30px 30px 0;
    }

    .login-container .header{
        text-align: center;
    }

    .login-container .header span{
        position: static;
        display: block;
        padding-top: 30px;
    }
    .login-container .resetBloc, .login-container .foot{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .headerTitle i{
        position: absolute;
        right: 8px;
        top: 0;
        font-size: 20px;
    }
}
.redAlert{
    background: #FF0000!important;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    color: #fff!important;
}
.block-flat.blockServer{
    margin-top: 0px;
    padding: 60px 20px;
}
#addFacturation #sub_facturation{
    background: #00baff;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

.grecaptcha-badge{
    width: 256px;
    height: 60px;
    transition: right 0.3s ease 0s;
    position: fixed;
    bottom: -50px!important;
    right: 50%!important;
    transform: translateX(50%);
    box-shadow: grey 0px 0px 5px;
}