html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-weight:400!important;
}

.button{
	border:2px solid #fff;
	display:inline-block;
	color:#fff;
	padding:10px 25px;
	font-size:36px;
	border-radius:100px;
	text-align:center;
	position:relative;
	top:20px!important;
}

.button.round{
	border:2px solid #fff;
	display:inline-block;
	color:#fff;
	padding:10px;
	font-size:36px;
	border-radius:100px;
	text-align:center;
	position:relative;
	top:20px!important;
	height:48px;width:48px;
	margin:0 10px;
}

.img-parallax {
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	pointer-events: none;
}

div > iframe {
    width: 50%;
    height:80%;
    position: absolute;
    z-index: 15!important;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
}

#transparent {
	z-index: -20!important;
	opacity: 0;
}

#hideAll {
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:#000;
	z-index:99;
	display:table;
	vertical-align:middle;
	width:100%;
	height:100%;
}

#hideAll #screnn {
	width:300px;
	height:80px;
	display:block;
	text-align:center!;
	margin:auto;
	top:45%;
	position:relative;
}

#hideAll img {
	width:300px;
	height:80px;
}

.progress {position:relative;top:0%;width:100%;height:2px;z-index:1000;background-color: #252525;margin:auto;max-width:100%!important;}
.bar { background-color: #fff;width:0%;height:2px;border-radius:3px;max-width:100%!important;}
.percent {position:absolute;display:inline-block;top:2px;left:48%;}


/*
*
* Style pour le contenu textuel
*
*/

.block-logo {
	height: 60px;
    display: block;
    text-align: center!important;
    margin: auto;
    position: absolute;
    bottom: 20px;
    width: 500px;
    left: 15px;
}

.block-logo img {
	height: 60px;
}


.block {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	box-shadow:0 -30px 40px rgba(0,0,0,0);
}

.contenu-intro .texte {
	position: absolute;
    display: block;
    text-align: center;
    max-width: 100%;
    width: 300px;
    bottom: 20px;
    right: 0px;
}

.contenu {
	position: relative;
    margin: auto;
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
}

.texte, title
{
	width: 80%;
	margin: auto;
	word-wrap: break-word;
}

.title h3{
	font-size: 2vw;
	font-weight: 400;
	max-width:100%;
	margin:auto;
	line-height:3vw;
	margin-bottom: 15px;
	font-weight: 400;
}

.title h2{
	font-size: 5vw;
	font-weight: 400;
	max-width: 100%;
	margin: auto;
	line-height: 5vw;
	font-weight: 400;
}

.texte h3{
	margin-top: 0;
	font-size: 2vw;
	font-weight: 400;
	max-width: 100%;
	margin: auto;
	line-height: 3vw;
	font-weight: 400;
}

.noms {
	width: 300px;
    margin: auto;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    bottom: 0;
    text-align: center;
    font-size: 18px;
}

.externe, .row-top {
   	position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #a6a6a6;
    border-radius: 100%;
    transition: all 0.2s ease;
    bottom: 18px;
    right: 18px;
    box-shadow: 0px 5px 9px rgb(0,0,0,0.2);
}

.externe:hover, .row-top:hover {
	transform: scale(1.2);
}

.lien_externe > i, .lien-top > i
{
	line-height: 36px;
	color: white;
}

@media screen and ( max-width: 1200px )
{
	.title h3, .texte h3
	{
		font-size: 3vw!important;
		line-height: 3vw!important;
	}

	.title h2
	{
	 	font-size: 6vw!important;
		line-height: 6vw!important;
	}
}

@media screen and ( max-width: 996px )
{
	.title h3, .texte h3
	{
		font-size: 4vw!important;
		line-height: 4vw!important;
	}

	.title h2
	{
	 	font-size: 7vw!important;
		line-height: 7vw!important;
	}
}

@media screen and ( max-width: 600px )
{
	.title h3, .texte h3
	{
		font-size: 5vw!important;
		line-height: 5vw!important;
	}

	.title h2
	{
	 	font-size: 8vw!important;
		line-height: 8vw!important;
	}
}